<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>570548920895-cre4ojrifcr1i3fln16ncomgs9nf1jns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570548920895-cre4ojrifcr1i3fln16ncomgs9nf1jns</string>
	<key>API_KEY</key>
	<string>AIzaSyDpga9z12ryZodWNxtNzCoYlPr8Qj57R0M</string>
	<key>GCM_SENDER_ID</key>
	<string>570548920895</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackint</string>
	<key>PROJECT_ID</key>
	<string>hackint-20cc4</string>
	<key>STORAGE_BUCKET</key>
	<string>hackint-20cc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570548920895:ios:e3c0aa3a60491e3dfe8e8a</string>
</dict>
</plist>